appdirs==1.4.4
bcrypt==3.2.0
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.24
protobuf==3.16.0
pycparser==2.20
PyJWT==2.1.0
six==1.15.0
virtualenv==20.4.4
Werkzeug==1.0.1
gunicorn
